apiVersion: apps/v1
kind: Deployment
metadata:
  name: mail-sender
  namespace: attachments-demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mail-sender
  template:
    metadata:
      labels:
        app: mail-sender
    spec:
      containers:
        - name: mail-sender
          image: mail-sender:dev
          imagePullPolicy: IfNotPresent
          envFrom:
            - secretRef:
                name: smtp-secret
          ports:
            - containerPort: 8080

---
apiVersion: v1
kind: Service
metadata:
  name: mail-sender
  namespace: attachments-demo
spec:
  selector:
    app: mail-sender
  ports:
    - name: http
      port: 8080
      targetPort: 8080
